.infoline {
  width: 1680px;
  height: 40px;
  padding: 0;
  margin: 20px 0 0 0;
  display: flex;
}
.infoline__balance {
  margin: 0 48px 0 1252px;
  padding: 10px 8px 9px 12px;
  width: 125px;
  height: 21px;
  border-radius: 48px;
  background-color: #ffffff;
  position: relative;
}
.infoline__rank {
  /* margin: 10px 10px 9px 12px; */
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  width: 87px;
  color: #899cb1;
}
.infoline__sum {
  color: #122945;
  font-weight: 500;
  font-size: 13px;
  line-height: 21px;
  margin: 0;
}
.infoline__icon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 8px;
  right: 8px;
}
.infoline__date {
  width: 120px;
  height: 40px;
  margin: 0;
  padding: 0;
}
.infoline__icon-left {
  margin: 15px 22px 15px 0;
  padding: 0;
}
.infoline__icon-right {
  padding: 0;
  margin: 15px 0 15px 0;
}
.infoline__icon-calendar {
  padding: 0;
  margin: 11px 8px 11px 0;
}
.infoline__counter-days {
  width: auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #005ff8;
  margin: 12px 22px 12px 0;
}
