.element-sidebar {
  margin: 0;
  padding: 0;
  width: 240px;
  height: 52px;
  display: flex;
}
.element-sidebar_active {
  background-color: rgba(216, 228, 251, 0.32);
}
.element-sidebar__name {
  color: rgba(255, 255, 255, 0.6);
  margin: 15px 22px 17px 0;
  width: 170px;
}
.element-sidebar__name_active {
  color: rgba(255, 255, 255);
}
.element-sidebar__image {
  width: 22px;
  height: 20px;
  margin: 16px 13px;
}
.element-sidebar:last-child {
  margin-bottom: 32px;
}
.element-sidebar__circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ffd500;
  margin: 22px 12px 22px 0;
}
