.element-sidebar {
  margin: 0;
  padding: 0;
  width: 240px;
  height: 52px;
  display: flex;
}
.element-sidebar__name {
  color: rgba(255, 255, 255, 0.6);
  margin: 15px 22px 17px 0;
}
.element-sidebar__image {
  width: 22px;
  height: 20px;
  margin: 16px 13px;
}
.element-sidebar:last-child {
  margin-bottom: 32px;
}
