.call {
  margin: 0 0 0 40px;
  width: auto;
  min-height: 64px;
  color: #899cb1;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  border-top: 1px solid #eaf0fa;
}
.call__type {
  margin: 24px 37px 25px 6px !important;
}
.call__time {
  margin: 21px 48px 23px 0 !important;
  color: #122945 !important;
  font-size: 15px !important;
  line-height: 21px !important;
}
.call__who {
  width: 32px !important;
  height: 32px !important;
  border-radius: 20px !important;
  margin: 16px 96px 17px 0 !important;
}
.call__number {
  height: 21px !important;
  width: 246px !important;
  margin: 21px 80px 23px 0 !important;
  font-size: 15px !important;
  color: #122945 !important;
  line-height: 21px !important;
}
.call__from {
  width: 197px !important;
  color: #5e7793 !important;
  margin: 25px 17px 13px 0 !important;
  text-align: left;
  min-height: 23px;
}
.call__quality {
  width: 122px;
  height: 40px !important;
  margin: 12px 10px 13px 0 !important;
}
.call__longer {
  color: #122945 !important;
  margin: 21px 0 23px 380px !important;
}

